{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="new_post mb-3" id="new_post">
            <h2>New Post</h2>
            <form class="d-block" action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                {{ new_post_form }}
                <button type="submit" class="btn btn-light">Post</button>
            </form>
        </div>
    {% endif %}
    <div id="posts" class="d-flex flex-column">    </div>
        {% if invalid_posts_request %}
            <div class="mb-3 text-center alert-danger">{{ invalid_posts_request }}</div>
        {% else %}
            <nav aria-label="Page navigation example" class="transparency">
                <ul class="pagination justify-content-center"></li>
                        <li class="page-item"><span class="page-link text-bg-dark disabled" id="previous">Previous</span></li>
                        <li class="page-item" id="previous_container"></li>
                        <li class="page-item"><span id="current" class="page-link text-bg-dark" id="current"></span></li>
                        <li class="page-item" id="next_container"></li>
                        <li class="page-item page-link text-bg-dark">of</li>
                        <li class="page-item"><span class="page-link text-bg-dark disabled" id="total_pages"></span></li>
                        <li class="page-item"><span class="page-link text-bg-dark" id="next">Next</span></li>
                </ul>
            </nav>
        {% endif %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}