{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="new_post mb-3" id="new_post">
            <h2>New Post</h2>
            <form class="d-block" action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                {{ new_post_form }}
                <button type="submit" class="btn btn-light">Post</button>
            </form>
        </div>
    {% endif %}
    <div id="posts" class="d-felx flex-column"></div>
    <nav aria-label="Page navigation example" class="transparency">
        <ul class="pagination justify-content-center"></li>
                <li class="page-item"><a class="page-link text-bg-dark disabled" id="previous"></a></li>
                <li class="page-item"><a class="page-link text-bg-dark disabled" id="previous_page"></a></li>
                <li class="page-item"><span id="current" class="page-link text-bg-dark" id="current"></span></li>
                <li class="page-item"><a class="page-link text-bg-dark disabled" id="next_page"></a></li>
                <li class="page-item"><a class="page-link text-bg-dark disabled" id="total_pages"></a></li>
                <li class="page-item"><a class="page-link text-bg-dark" id="next"></a></li>
        </ul>
    </nav>
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}